body {
    background-color: antiquewhite;
}

.color {
    border: solid 1px black;
    display: inline-block;
}

#corPreta {
    background-color: black;
    height: 30px;
    width: 50px;
}

#cor2 {
    height: 30px;
    width: 50px;
    background-color: rgb(250, 100, 125); 
}

#cor3 {
    height: 30px;
    width: 50px;
    background-color: rgb(210, 106, 241);
}

#cor4 {
    height: 30px;
    width: 50px;
    background-color: rgb(224, 49, 49);
}

#pixel-board {
display: flex;
flex-wrap: wrap;
max-width: 17vw;

}
.pixel {
  background-color: white;
  border: black solid 1px; 
  height: 40px;
  width: 40px;
}